<table class="pageTable" align="center">
    <!-- Quiz title -->
    <div *ngFor="let quiz of quizToDisplay"><br/>
        <span class="quizTitle">{{quiz.title}}</span> <br/> <span class="quizOwner">by {{quiz.owner}}</span><br/>

        <!-- Quiz timer -->
        <div *ngIf="quiz.duration != 'Unlimited'">
            <br/>
            <div id="clockContainer">
				<div id="hoursContainer">
					<span>{{timers.hours}}</span>
					<div id="hoursText">Hours</div>
				</div>
				<div id="minutesContainer">
					<span>{{timers.minutes}}</span>
					<div id="minutesText">Minutes</div>
				</div>
				<div id="secondsContainer">
					<span>{{timers.seconds}}</span>
					<div id="secondsText">Seconds</div>
				</div>
			</div>
        </div>
        <br/>
        
        <!-- Quiz questions -->
        <div *ngFor="let quizQuestions of quiz.questions; let i=index" align="center">
            <div class="Question-panel-title" style="padding: 10px; word-wrap: break-word;">
                Question {{i + 1}}: {{quizQuestions.questionText}}
            </div>

            <!-- Quiz answers -->
            <div class="Question-panel-content" style="padding: 5px; word-wrap: break-word;">
                <div *ngIf="quizQuestions.types == 'Multiple-choice'" >
                    <div *ngFor="let quizAnswers of quizQuestions.answers; let j=index">
                        <input type="radio" class="answerClass" name="{{i}}" value="{{quizAnswers.correctAnswer}}" [disabled]="submitted" checked="checked">
                        {{quizAnswers.answerText}}
                    </div> 
                    <div *ngIf="submitted == true">
                        Your answer is {{correctAnswerMultipleChoice[i]}}
                    </div> 
                </div>
            
                <div *ngIf="quizQuestions.types == 'Checkboxes'">
                    <div *ngFor="let quizAnswers of quizQuestions.answers; let i=index">
                        <input type="checkbox" name="checkboxGroup" value="{{quizAnswers.correctAnswer}}" [disabled]="submitted" (click)="handleCheckboxAnswer(i, quizAnswers.correctAnswer)">
                        {{i + 1}}: {{quizAnswers.answerText}}    
                    </div>
                    <div *ngIf="submitted == true">
                        Your answer is ...
                    </div>
                </div>
            </div><br/>
        </div>
        <input type="submit" value="Submit" (click)="submitAnswer()" [disabled]="submitted">
        <input type="submit" value="View Statistics">
        <div *ngIf="quiz.owner == currentUser">
            <input type="submit" value="Delete Quiz" (click)="deleteQuiz(quiz.id)">
        </div>
    </div>
</table>