<table class="pageTable" align="center">
    <div class="profileOwner">{{currentUser}}'s profile</div>
    <div class="profileOwnerQuizzes">My quizzes</div>
    <div *ngFor="let quiz of myQuizzes"><br/>
        <a routerLink="/home/quiz/{{quiz.id}}">
            <div class="quizWhole">
                <div class="quizTitle">
                    {{quiz.title}}
                </div> 
                <div class="quizDuration">
                    <div *ngIf="quiz.duration == 'Unlimited'">
                        Duration: {{quiz.duration}}
                    </div>
                    <div *ngIf="quiz.duration != 'Unlimited'">
                        Duration: {{quiz.duration}} minute(s)
                    </div>
                </div>
                <div class="quizOwner">
                    by {{quiz.owner}}
                </div>
            </div>
        </a>
    </div>
</table>